{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
    <div class="posts-grid">
        {% for post in object_list %}
        
        <div class="post-entry">
            <div class="post-content">
                <a href='{% url "post_detail" post.pk%}'>
                    <h2>{{ post.title }}</h2>
                </a>
                <p>{{ post.body }}</p>
                
                <!-- Display the number of likes -->
                <p>Likes: {{ post.like_set.count }}</p>

                <div class="post-elements">
                    <div class="post-text">
                        {% if post.image %}
                            <div class="post-image">
                                <img class="post-grid-image" src="{{ post.image.url }}" alt="{{ post.title }} image">
                            </div>
                        {% endif %}
                    </div>
                    {% if post.latitude and post.longitude %}
                        <div class="post-location">
                            <div id="post-location-{{ post.pk }}" style="width: 100%; height: 300px;">
                                <script>
                                    var postMap = L.map('post-location-{{ post.pk }}').setView([{{ post.latitude }}, {{ post.longitude }}], 13);
                                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                                    }).addTo(postMap);
                                    L.marker([{{ post.latitude }}, {{ post.longitude }}]).addTo(postMap);
                                    postMap.dragging.disable();
                                    postMap.touchZoom.disable();
                                    postMap.doubleClickZoom.disable();
                                    postMap.scrollWheelZoom.disable();
                                    postMap.boxZoom.disable();
                                    postMap.keyboard.disable();
                                </script>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <!-- Display comments -->
                <div class="post-comments">
                    <h3>Comments:</h3>
                    <ul>
                        {% for comment in post.comment_set.all %}
                            <li><strong>{{ comment.author.user.username }}</strong>: {{ comment.text }}</li>
                        {% empty %}
                            <li>No comments yet.</li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="{% url 'post_detail' post.pk %}">View Post</a>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endif %}

{% endblock content %}
