{% extends "base.html" %}

{% block content %}
    <h1> New Post </h1>
    <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <!-- render all fields except for tags -->
        {% for field in form %}
            {% if not field.name == "tags" %}
                <p id="{{ field.name }}-container">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endif %}
        {% endfor %}
        <!-- render tags field separately -->
        <h3>Tags</h3>
        <p>Enter tags separated by commas (e.g., "tag1, tag2, tag3").</p>
        <p>
            {{ form.tags.label_tag }}
            {{ form.tags }}
            {% for error in form.tags.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        <div id="map" style="height: 300px;"></div>
        <input id="location-search" type="text" placeholder="Search location" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script>
            var map = L.map('map').setView([0, 0], 2); // The '2' here is the zoom level, adjust as needed

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            var marker;
            map.on('click', function(e) {
                if (marker) {
                    map.removeLayer(marker);
                }
                marker = L.marker(e.latlng).addTo(map);
                document.getElementById('id_latitude').value = e.latlng.lat;
                document.getElementById('id_longitude').value = e.latlng.lng;

                console.log("Map clicked, set latitude to", e.latlng.lat, "and longitude to", e.latlng.lng);  // Debug log
            });

            var input = document.getElementById('location-search');
            input.addEventListener('change', function() {
                var searchText = input.value;
                var url = `https://nominatim.openstreetmap.org/search?format=json&limit=1&q=${encodeURIComponent(searchText)}`;
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        if (data && data.length > 0) {
                            var lat = data[0].lat;
                            var lng = data[0].lon;
                            map.setView([lat, lng], 13);
                            if (marker) {
                                map.removeLayer(marker);
                            }
                            marker = L.marker([lat, lng]).addTo(map);
                            document.getElementById('id_latitude').value = lat;
                            document.getElementById('id_longitude').value = lng;
                            document.getElementById('id_location').value = searchText;

                            
                            console.log("Location search, set latitude to", lat, "and longitude to", lng);  // Debug log
                        }
                    })
                    .catch(error => console.error(error));
            });
        </script>

        <script>
            function handleTimelineTypeChange() {
                const timelineTypeSelect = $('#id_timeline_type');
                const selectedTimelineType = timelineTypeSelect.val();

                const exactDateContainer = $('#exact_date-container');
                const decadeContainer = $('#decade-container');
                const seasonContainer = $('#season-container');

                exactDateContainer.hide();
                decadeContainer.hide();
                seasonContainer.hide();

                if (selectedTimelineType === 'exact_date') {
                    exactDateContainer.show();
                } else if (selectedTimelineType === 'decade') {
                    decadeContainer.show();
                } else if (selectedTimelineType === 'season') {
                    seasonContainer.show();
                }
            }

            $('#id_timeline_type').change(handleTimelineTypeChange);
            handleTimelineTypeChange();  // Call this once to set the initial state
        </script>

        <input type="submit" value="Save"/>
    </form>
{% endblock content %}

